body{
    margin: 0;
    
}
nav{
    background: cornsilk;
    width: 100%;
    overflow: auto;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    float: left;
}
nav a{
    width: 120px;
    display: block;
    text-decoration: none;
    text-align: end;
    font-size: 17px;
    color: ;
    padding: 20px 10px;
    font-family: arial;
}
section{
    width: 1200px;
    margin:  auto;
    
    overflow: auto;
    
    margin-top: 50px;
    margin-bottom: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    

}
.half-width img{
    width: 100%;
    
    
}
.extra{
    margin-top: 10%;
}
.extra2{
    margin-top: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.card{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 370px;

}
.card img{
    width: 100%;
    height: auto;
}
.des{
    padding: 15px;
    text-align: center;
}
.first{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 8%;
}
.second{
    text-align: end;
    
}
.about{
    width: 70%;
    margin: auto;
    /* overflow: auto; */
    
    margin-top: 200px;
    /* margin-bottom: 50px; */
    background-image: url("images/Group_33094_1.png");
    background-size: cover;
    height: 264px;
    background-repeat: no-repeat;
    margin-bottom: 200px;
    align-items: center;
    

}